@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf)
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat/Montserrat-Black.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf)
}

.container {
    max-width: 1200px
}

body {
    padding-right: 0 !important
}

.modal {
    padding: 0 !important;
    z-index: 1160;
    overflow-x: hidden;
    overflow-y: auto !important
}

.modal-open {
    overflow-y: scroll
}

.modal-backdrop.show {
    opacity: 0
}

.modal-dialog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px 15px
}

.contact100-form {
    width: 100%
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 50px;
    border: 2px solid #e6e6e6;
    border-radius: 25px
}

.input100 {
    display: block;
    width: 100%;
    background: 0 0
}

input.input100 {
    height: 100%;
    padding: 0 30px
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    pointer-events: none;
    border: 2px solid #3a5dff;
    border-radius: 25px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -webkit-transform: scaleX(1.1) scaleY(1.2);
    -moz-transform: scaleX(1.1) scaleY(1.2);
    -ms-transform: scaleX(1.1) scaleY(1.2);
    -o-transform: scaleX(1.1) scaleY(1.2);
    transform: scaleX(1.1) scaleY(1.2)
}

.input100:focus+.focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 15px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    font-family: Montserrat-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media(max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

.cl0 {
    color: #fff
}

.s1-txt1 {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #7d8da6;
    line-height: 1;
    text-transform: uppercase
}

.s1-txt2 {
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2
}

.s1-txt3 {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #ccc;
    line-height: 1.4
}

.s1-txt4 {
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #555;
    line-height: 1.2
}

.s1-txt5 {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #999;
    line-height: 1.6666667
}

.m1-txt1 {
    font-family: Montserrat-Black;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-transform: uppercase
}

.m1-txt2 {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555;
    line-height: 1.4;
    text-transform: uppercase
}

.l1-txt1 {
    font-family: Montserrat-Black;
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase
}

.l1-txt2 {
    font-family: Montserrat-Light;
    font-size: 30px;
    color: #fff;
    line-height: 1.2
}

.l1-txt3 {
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #555;
    line-height: 1
}

.size1 {
    width: 100%;
    min-height: 100vh
}

.size2 {
    width: 90px;
    height: 90px
}

.size3 {
    min-width: 280px;
    max-width: 100%;
    min-height: 50px
}

.size4 {
    width: 686px;
    max-width: 100%
}

.size5 {
    width: 100%;
    height: 50px
}

.wsize1 {
    max-width: 390px
}

.wsize2 {
    max-width: 285px
}

.bg0 {
    background-color: #fff
}

.bg-g1 {
    background-image: url('/error/images/desktop.png');
    background-size: cover;
    /* background: #7918f2;
    background: -webkit-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
    background: -o-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
    background: -moz-linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff);
    background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff) */
}

.bor1 {
    border-bottom: 3px solid #3a5dff
}

.bor2 {
    border-radius: 5px
}

.where1-parent {
    position: relative
}

.where1 {
    position: absolute;
    top: -40px;
    right: 5px
}

.placeholder0::-webkit-input-placeholder {
    color: #999
}

.placeholder0:-moz-placeholder {
    color: #999
}

.placeholder0::-moz-placeholder {
    color: #999
}

.placeholder0:-ms-input-placeholder {
    color: #999
}

.how-countdown {
    background-color: #fff;
    border-radius: 18px;
    margin: 0 18px 25px
}

.how-btn {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid #fff;
    position: relative;
    z-index: 1;
    overflow: hidden
}

/* .folowLInks {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 30px;
    color: #333;
} */

/* img {
    width: 50px;
    height: 50px;
} */

.yt {}

.fb {}

.fa-instagram {}

.how-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #7918f2;
    background: -webkit-linear-gradient(45deg, #ac32e4, #7918f2, #4801ff);
    background: -o-linear-gradient(45deg, #ac32e4, #7918f2, #4801ff);
    background: -moz-linear-gradient(45deg, #ac32e4, #7918f2, #4801ff);
    background: linear-gradient(45deg, #ac32e4, #7918f2, #4801ff);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    opacity: 0
}

.how-btn:hover:before {
    opacity: 1
}

.how-btn1 {
    background-color: #3a5dff;
    border-radius: 25px;
    padding: 0 20px
}

.how-btn1:hover {
    background-color: #333;
    color: #fff
}

.how-btn2 {
    color: rgba(255, 255, 255, .5)
}

.how-btn2:hover {
    color: #fff
}

.focus-in0:focus::-webkit-input-placeholder {
    color: transparent
}

.focus-in0:focus:-moz-placeholder {
    color: transparent
}

.focus-in0:focus::-moz-placeholder {
    color: transparent
}

.focus-in0:focus:-ms-input-placeholder {
    color: transparent
}

.hov-cl0:hover {
    color: #fff
}

.hov-bg0:hover {
    background-color: #fff
}

@media(max-width:1200px) {
    .m-0-xl {
        margin: 0
    }

    .m-lr-0-xl {
        margin-left: 0;
        margin-right: 0
    }

    .m-lr-15-xl {
        margin-left: 15px;
        margin-right: 15px
    }

    .m-l-0-xl {
        margin-left: 0
    }

    .m-r-0-xl {
        margin-right: 0
    }

    .m-l-15-xl {
        margin-left: 15px
    }

    .m-r-15-xl {
        margin-right: 15px
    }

    .p-0-xl {
        padding: 0
    }

    .p-lr-0-xl {
        padding-left: 0;
        padding-right: 0
    }

    .p-lr-15-xl {
        padding-left: 15px;
        padding-right: 15px
    }

    .p-l-0-xl {
        padding-left: 0
    }

    .p-r-0-xl {
        padding-right: 0
    }

    .p-l-15-xl {
        padding-left: 15px
    }

    .p-r-15-xl {
        padding-right: 15px
    }

    .w-full-xl {
        width: 100%
    }
}

@media(max-width:992px) {
    .m-0-lg {
        margin: 0
    }

    .m-lr-0-lg {
        margin-left: 0;
        margin-right: 0
    }

    .m-lr-15-lg {
        margin-left: 15px;
        margin-right: 15px
    }

    .m-l-0-lg {
        margin-left: 0
    }

    .m-r-0-lg {
        margin-right: 0
    }

    .m-l-15-lg {
        margin-left: 15px
    }

    .m-r-15-lg {
        margin-right: 15px
    }

    .p-0-lg {
        padding: 0
    }

    .p-lr-0-lg {
        padding-left: 0;
        padding-right: 0
    }

    .p-lr-15-lg {
        padding-left: 15px;
        padding-right: 15px
    }

    .p-l-0-lg {
        padding-left: 0
    }

    .p-r-0-lg {
        padding-right: 0
    }

    .p-l-15-lg {
        padding-left: 15px
    }

    .p-r-15-lg {
        padding-right: 15px
    }

    .w-full-lg {
        width: 100%
    }
}

@media(max-width:768px) {
    .m-0-md {
        margin: 0
    }

    .m-lr-0-md {
        margin-left: 0;
        margin-right: 0
    }

    .m-lr-15-md {
        margin-left: 15px;
        margin-right: 15px
    }

    .m-l-0-md {
        margin-left: 0
    }

    .m-r-0-md {
        margin-right: 0
    }

    .m-l-15-md {
        margin-left: 15px
    }

    .m-r-15-md {
        margin-right: 15px
    }

    .p-0-md {
        padding: 0
    }

    .p-lr-0-md {
        padding-left: 0;
        padding-right: 0
    }

    .p-lr-15-md {
        padding-left: 15px;
        padding-right: 15px
    }

    .p-l-0-md {
        padding-left: 0
    }

    .p-r-0-md {
        padding-right: 0
    }

    .p-l-15-md {
        padding-left: 15px
    }

    .p-r-15-md {
        padding-right: 15px
    }

    .w-full-md {
        width: 100%
    }
}

@media(max-width:576px) {
    .m-0-sm {
        margin: 0
    }

    .m-lr-0-sm {
        margin-left: 0;
        margin-right: 0
    }

    .m-lr-15-sm {
        margin-left: 15px;
        margin-right: 15px
    }

    .m-l-0-sm {
        margin-left: 0
    }

    .m-r-0-sm {
        margin-right: 0
    }

    .m-l-15-sm {
        margin-left: 15px
    }

    .m-r-15-sm {
        margin-right: 15px
    }

    .p-0-sm {
        padding: 0
    }

    .p-lr-0-sm {
        padding-left: 0;
        padding-right: 0
    }

    .p-lr-15-sm {
        padding-left: 15px;
        padding-right: 15px
    }

    .p-l-0-sm {
        padding-left: 0
    }

    .p-r-0-sm {
        padding-right: 0
    }

    .p-l-15-sm {
        padding-left: 15px
    }

    .p-r-15-sm {
        padding-right: 15px
    }

    .w-full-sm {
        width: 100%
    }

    .respon1 {
        padding-top: 35px
    }
}

@media(max-width:480px) {
    .m-0-ssm {
        margin: 0
    }

    .m-lr-0-ssm {
        margin-left: 0;
        margin-right: 0
    }

    .m-lr-15-ssm {
        margin-left: 15px;
        margin-right: 15px
    }

    .m-l-0-ssm {
        margin-left: 0
    }

    .m-r-0-ssm {
        margin-right: 0
    }

    .m-l-15-ssm {
        margin-left: 15px
    }

    .m-r-15-ssm {
        margin-right: 15px
    }

    .p-0-ssm {
        padding: 0
    }

    .p-lr-0-ssm {
        padding-left: 0;
        padding-right: 0
    }

    .p-lr-15-ssm {
        padding-left: 15px;
        padding-right: 15px
    }

    .p-l-0-ssm {
        padding-left: 0
    }

    .p-r-0-ssm {
        padding-right: 0
    }

    .p-l-15-ssm {
        padding-left: 15px
    }

    .p-r-15-ssm {
        padding-right: 15px
    }

    .w-full-ssm {
        width: 100%
    }
}
